*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    margin:0;
}

.nav-list{
    list-style-type: none;
    margin-right:20px;
}
.nav-list-item{
    display:inline;
    margin-right:20px;
}
.nav-list a{
    text-decoration: none;
    color:white;
}
.flex-row{  /*  for flex row blocks..the alignment will be set by the individual block*/
    display:flex;
    flex-direction:row;
}
.flex-row-center{
    justify-content: center;
}
.nav-bar{
    justify-content: flex-end;
    background-color: #000000;
    margin:0;
}
.currentPage{ /* Styles the navigation link for the current page that we are in*/
    color:#CF9812;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#top-section{
    height:400px;
    position: relative;
}
.top-image{
    width:100%;
    height:100%;
    object-fit: cover;
}
.top-paragraph{
    text-align: right;
    width:40% ;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    right:10%;
    padding:20px;
    font-size: 28px;
    font-weight:bold;

}
.orange-font-color{
    color:#CF9812;
}
.center-text{
    text-align: center;
}
.grid-column{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   /* grid-column-gap: 20px;*/
}
.main-description{
    grid-column-gap: 20px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom: 20px;
    align-items: center;

}
.main-service-description{
    background-color: #daddda;
    border-radius: 5px;
    padding:10px;
    padding-bottom:30px
}
.learn-more-button {
    background-color: #CF9812;
    border-radius: 5px;
    height: 40px;
    width: 120px;
}
.other-services{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:900px;

}
.grid-image-full{
    width:100%;
    height:100%;
    object-fit: cover;

}
.white-text{
    color:white;
}
#testimonials-container, #pictorial-container{
    background-color: black;
    padding:30px;
    justify-content: center;
}
.testimonial-image{
    width: 244px;
    height: 231px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.flex-column{
    display:flex;
    flex-direction:column;
}
.flex-column-center{
    align-items: center;
}
.testimonial-paragraph{
    padding:40px;
    margin-left:20px;
    width:40%;
}
.contact-content-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    padding:30px;
   align-items: center;

}
.contact-content-container div{
    background-color: #daddda;
    min-width: 300px;
}
input,textarea{
    margin:15px;
}
textarea{
    width:200px;
    height:100px;
}
#contact-details{
    height:100%;
    padding-top: 15px;
    padding-left: 40px;
}
.grid-row-gap-20{
    grid-row-gap:20px;
}
#pictorial-content-container{
    height:300px;
    grid-column-gap:20px;
    margin-bottom:40px;
}
.grid-column-2{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.offerings-container{
    margin:40px;
    height:600px;
    grid-column-gap: 20px;
}
.food-description-darker{
    background-color: #cfcfcf;
    height:250px;
    padding:10px;
    padding-bottom:30px
}
.food-description{
    height:220px;
    background-color: #F6F6F8;
    padding:10px;
    padding-bottom:30px
}

#bedrooms-container{
    height:900px;
    padding: 80px;
    padding-top: 0;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}