*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

nav{
    display: flex;
    height: 95px;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #dddddd;
}

.logo-text{
    color: #CF9812;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
}

.nav-links{
    position: absolute;
    width: 60%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    margin: 30px ;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color:black;
    text-decoration: none;
    font-size: 20px;
    font-style:bold;
}

.nav-links a:hover{
    font-weight: bold;
}

.nav-search{
    width: 75%;
    margin-bottom: 20px;
    margin-left: 50px;
}
.nav-search-bar{
    height: 40px;
    width: 85%;
    border: 2px solid transparent;
    border-radius: 10px;
    font-size: 15px;
}

.nav-search-bar:focus{
    outline: none;
}

.search-button{
    height: 40px;
    width: 80px;
    background-color: #CF9812;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 0 0 0 10px;
    cursor: pointer;
    font-weight: bold;
}

.search-button:hover{
    background-color: black;
    color: #CF9812;
}

.header-image-container{
    width: 100%;
    height: 600px;
    transition: 0.8s;
}
/*Changing the color of visited navigator*/
.activen{
	color: #c12413;
}

.header-image{
    width: 100%;
    height: 100%;
}

.header-img-text{
    color: black;
    margin: -250px 0 0 20px;
    font-size: 40px;
}

.subheader{
    font-size: 25px;
    margin: 20px 0 0 45%;
}

.daily-deals-images{
    width: auto;
    height: 600px;
    margin-top: 20px;
    background:#b5bc9a;
}
.inner-imagebox-left{
    float: left;
    height: 85%;
    width: 22%;
    margin: 1% 0 0 2%;
}

.inner-imagebox-right{
    float: right;
    height: 85%;
    width: 22%;
    margin: 1% 4% 0 0;
}
.buy-now-btn{
    height: 40px;
    width: 80px;
    background-color: #CF9812;
    border: 2px solid transparent;
    border-radius: 10px;
    margin: 6.5% 0 0 35%;
    cursor: pointer;
    font-weight: bold;
}
.deals-img{
    width: 100%;
    height: 85%;
}
.buy-now-btn:hover{
    background-color: black;
    color: #CF9812;
}

.footer{
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:black;
    margin-top: 30px;
}

.footer-text{
    color: #CF9812;
    font-size: 15px;
    letter-spacing: 3px;
}

.footer-nav-links{
    width: 60%;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.footer-nav-links li{
    list-style: none;
}

.footer-nav-links a{
    color:#CF9812;
    text-decoration: none;
    font-size: 15px;
}

.footer-nav-links a:hover{
    font-weight: bold;
}

/*CSS BY Author Perez*/
*{
    box-sizing: border-box;
}
.flex{
    display:flex;
}
.flex-row{
     flex-direction: row;
 }
.flex-column{
    flex-direction: column;
}
.flex-row-center-all{
    justify-content: center;
    align-items: center;
}
.flex-column-center-all{
    align-items: center;
    justify-content: center;
}
.width-full{
    width:100%;
}
.center-text{
    text-align: center;
}
.orange-button {
    background-color: #CF9812;
    border-radius: 5px;
    height: 40px;
    width: 120px;
    margin:5px;
}
.log-sign-input{ /*Styles the input for the login and the sign-up*/
    width:300px;
    border-radius: 10px;
    background-color: #cfcfcf;
    height:30px;
    padding-left:8px;
    padding-right:8px;
    border-style: none;
}
.black-button-orange-text{

    background-color: black;
    color:#CF9812;
}
.full-width-height-image{
    width:100%;
    height:100%;
    object-fit: cover;
}
.footer{
    background-color: black;
    color:white;
    height:50px;
    width:100%;
    margin-bottom: 0;

}
.white-text{
    color:white;
}
.no-underline-link{
    text-decoration: none;
}
.padding-left-15{
    padding-left: 15px;
}